@mixin font($fname, $fstyle, $fweight, $furl){
	@font-face{
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('truetype');
	}
}

@include font('NotoSans', normal, 400, '../fonts/NotoSans.ttf');
@include font('NotoSans', normal, 300, '../fonts/NotoSans-Light.ttf');
@include font('NotoSans', normal, 500, '../fonts/NotoSans-Medium.ttf');
@include font('NotoSans', normal, 600, '../fonts/NotoSans-SemiBold.ttf');

:root{
	--black: #000000;
	--gray: #FAFAFA;
	--gray2: #E6E6E6;
	--red: #E20000;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

html, body{
	height: 100%;
}

body{
	width: 100%;
	max-width: 100vw;
	font-family: 'NotoSans';
	font-size: 14px;
	line-height: 150%; 
	color: #000000;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
	display: block;
}

input, textarea, button{
	font-family: 'NotoSans';
}

a{
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
	&:hover{
		text-decoration: none;
		border-bottom-color: #000000;
	}
}

.wrapper{
	max-width: 100%;
}

.bold{
	font-weight: 700;
}

label.checkbox{
	display: grid;
	grid-template-columns: 20px auto;
	align-items: center;
	column-gap: 10px;
	position: relative;
	cursor: pointer;
	.check{
		width: 20px;
		height: 20px;
		border: 1px solid var(--black);
		border-radius: 4px;
		transition: all 0.3s;
	}
	input[type="checkbox"], input[type="radio"]{
		opacity: 0;
		position: absolute;
		&:checked ~ .check{
			background-color: var(--black);
		}
	}
	.label{
		color: var(--black);
	}
}

.select{
	position: relative;
	display: block;
	.current{
		position: relative;
		font-size: 16px;
		cursor: pointer;
		line-height: 150%;
		color: rgba(0,0,0,0.3);
		padding: 12px 40px 12px 16px;
		border: 1px solid var(--black);
		&:before{
			content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.7485 8L19 9.22022L12 16L5 9.21337L6.25152 8L12 13.5733L17.7485 8Z' fill='black'/%3e%3c/svg%3e ");
			position: absolute;
			top: 12px;
			right: 16px;
			transition: all 0.3s;
			width: 24px;
			height: 24px;
		}
		&.open{
			&:before{
				transform: rotate(180deg);
			}
		}
		&.selected{
			color: var(--black);
		}
	}
	.list{
		display: none;
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		right: 0;
		padding: 12px 0;
		border: 1px solid var(--black);
		width: 100%;
		background-color: #ffffff;
		z-index: 10;
		.option{
			color: var(--black);
			font-size: 16px;
			line-height: 150%;
			padding: 4px 16px;
			transition: all 0.3s;
			cursor: pointer;
			display: block;
			border: none;
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				background-color: var(--gray2);
			}
			&.active{
				background-color: var(--gray2);
			}
		}
	}
}

.radio{
	position: relative;
	.label{
		display: flex;
		align-items: center;
		height: 32px;
		border: 1px solid #cccccc;
		padding: 0 12px;
		border-radius: 10px;
		column-gap: 8px;
		font-size: 12px;
		line-height: 8px;
		color: var(--black);
		cursor: pointer;
		transition: all 0.3s;
		.dot{
			width: 16px;
			height: 16px;
			border-radius: 50%;
		}
	}
	input[type="radio"]{
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		&:checked ~ .label{
			border-color: var(--black);
		}
	}
}

label.file{
	position: relative;
	input[type="file"]{
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	.label{
		display: inline-block;
		padding: 11px 23px;
		border: 1px solid var(--black);
		transition: all 0.3s;
		font-size: 14px;
		line-height: 24px;
		font-weight: 600;
		&:hover{
			background-color: var(--black);
			color: #ffffff;
		}
	}
}

input[type="number"] {
  appearance: textfield; /* Для современных браузеров */
  -moz-appearance: textfield; /* Для Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-block{
	.form-inner{
		.form-field{
			margin-bottom: 16px;
			input, textarea{
				width: 100%;
				height: 46px;
				box-sizing: border-box;
				padding: 11px 15px;
				border: 1px solid var(--black);
				font-size: 16px;
				line-height: 150%;
				transition: all 0.3s;
				&::placeholder{
					color: rgba(0,0,0,0.3);
				}
				&:focus{
					outline: none;
				}
			}
			textarea{
				height: 120px;
			}
		}
		.file-item{
			display: none;
			margin-top: 16px;
			margin-bottom: 16px;
			.inner{
				display: flex;
				justify-content: space-between;
				column-gap: 16px;
				padding: 8px 16px;
				align-items: center;
				background-color: var(--gray2);
				.name{
					font-size: 16px;
					line-height: 150%;
				}
				.delete{
					cursor: pointer;
					height: 24px;
				}
			}
		}
		.file-block{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			column-gap: 12px;
			.caption{
				font-size: 12px;
				line-height: 24px;
				opacity: 0.4;
			}
			.file-info{
				width: 100%;
				margin-top: 4px;
				font-size: 12px;
				line-height: 24px;
				opacity: 0.4;
			}
		}
	}
}

header{
	transition: all 0.3s;
	z-index: 10;
	padding: 0px;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	padding: 24px 0 0;
	@media only screen and (max-width : 767px){
		padding-top: 16px;
	}
	.flex{
		align-items: center;
	}
	.menu{
		margin-left: auto;
		@media only screen and (max-width : 860px){
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
			column-gap: 24px;
			li{
				a{
					font-weight: 600;
				}
			}
		}
	}
	.cart{
		margin-left: 40px;
		@media only screen and (max-width : 860px){
			margin-left: auto;
		}
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: none;
			background-color: var(--gray2);
			svg{
				path{
					transition: all 0.3s;
				}
			}
			&:hover{
				background-color: var(--black);
				svg{
					path{
						fill: #ffffff;
					}
				}
			}
		}
	}
	.account{
		margin-left: 16px;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: none;
			background-color: var(--black);
			svg{
				path{
					transition: all 0.3s;
				}
			}
			&:hover{
				background-color: var(--gray2);
				svg{
					path{
						fill: var(--black);
					}
				}
			}
		}
	}
	.burger-block{
		margin-left: 16px;
		display: none;
		@media only screen and (max-width : 860px){
			display: block;
		}
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: none;
			background-color: var(--gray2);
			svg{
				path{
					transition: all 0.3s;
				}
			}
			&:hover{
				background-color: var(--black);
				svg{
					path{
						stroke: #ffffff;
					}
				}
			}
		}
	}
}

.btn{
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	background: var(--black);
	border: 1px solid var(--black);
	padding: 11px 23px;
	text-decoration: none;
	transition: all 0.3s;
	&:hover{
		background-color: #ffffff;
		color: var(--black);
	}
}

.tab, .accordion-block .item .text{
	display: none;
}

.tab.active, .accordion-block .item.active .text{
	display: block;
}

h1{
	font-size: 32px;
	line-height: 130%;
	@media only screen and (max-width : 767px){
		font-size: 24px;
	}
}

h3{
	font-size: 24px;
	line-height: 130%;
	font-weight: 600;
	@media only screen and (max-width : 767px){
		font-size: 18px;
	}
}

h4{
	font-size: 18px;
	line-height: 25px;
	font-weight: 500;
	@media only screen and (max-width : 767px){
		font-size: 16px;
	}
}

.main-page{
	.top-block{
		margin-top: 40px;
		@media only screen and (max-width : 767px){
			margin-top: 24px;
		}
		.top-block-inner{
			background-color: var(--gray);
			grid-template-columns: auto 597px;
			@media only screen and (max-width : 1100px){
				grid-template-columns: 1fr;
				column-gap: 16px;
			}
			.text-block{
				padding: 32px;
				padding-right: 0;
				display: flex;
				flex-direction: column;
				row-gap: 15px;
				@media only screen and (max-width : 767px){
					padding: 24px;
				}
				.list{
					ul{
						list-style: disc outside;
						margin-left: 16px;
						font-size: 20px;
						line-height: 130%;
						@media only screen and (max-width : 767px){
							font-size: 16px;
						}
						li{
							margin-bottom: 10px;
							font-weight: 500;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
				.btn-block{
					margin-top: auto;
					display: flex;
					align-items: center;
					column-gap: 16px;
					@media only screen and (max-width : 767px){
						flex-direction: column;
						align-items: flex-start;
						row-gap: 16px;
					}
				}
			}
			.img{
				@media only screen and (max-width : 1100px){
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

.production-page{
	.top-block{
		margin-top: 40px;
		@media only screen and (max-width : 767px){
			margin-top: 24px;
		}
		.top-block-inner{
			background-color: var(--gray);
			grid-template-columns: auto 534px;
			@media only screen and (max-width : 1100px){
				grid-template-columns: 1fr;
				column-gap: 16px;
			}
			.text-block{
				padding: 32px;
				padding-right: 0;
				display: flex;
				flex-direction: column;
				row-gap: 15px;
				@media only screen and (max-width : 767px){
					padding: 24px;
				}
				.list{
					ul{
						list-style: disc outside;
						margin-left: 16px;
						font-size: 20px;
						line-height: 130%;
						@media only screen and (max-width : 767px){
							font-size: 16px;
						}
						li{
							margin-bottom: 10px;
							font-weight: 500;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
				.btn-block{
					margin-top: auto;
					display: flex;
					align-items: center;
					column-gap: 16px;
					@media only screen and (max-width : 767px){
						flex-direction: column;
						align-items: flex-start;
						row-gap: 16px;
					}
				}
			}
			.img{
				@media only screen and (max-width : 1100px){
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

.slogan-block{
	margin-top: 80px;
	background-color: var(--gray);
	@media only screen and (max-width : 1100px){
		margin-top: 64px;
	}
	@media only screen and (max-width : 767px){
		margin-top: 42px;
	}
	.text-block{
		text-align: center;
		padding: 80px 0;
		@media only screen and (max-width : 1100px){
			padding: 64px 0;
		}
		@media only screen and (max-width : 767px){
			padding: 42px 0;
		}
		.text{
			font-size: 40px;
			font-weight: 300;
			line-height: 130%;
			margin-top: 24px;
			@media only screen and (max-width : 1100px){
				font-size: 36px;
			}
			@media only screen and (max-width : 767px){
				font-size: 24px;
				margin-top: 16px;
			}
		}
	}
}

.contacts-form{
	margin-top: 80px;
	position: relative;
	@media only screen and (max-width : 1100px){
		margin-top: 64px;
	}
	@media only screen and (max-width : 767px){
		margin-top: 42px;
	}
	.grid{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
		@media only screen and (max-width : 1100px){
			column-gap: 16px;
			grid-template-columns: 330px auto;
		}
		@media only screen and (max-width : 767px){
			grid-template-columns: 1fr;
			row-gap: 32px;
		}
	}
	.form-block{
		.form-inner{
			.btn-block{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 32px;
				@media only screen and (max-width : 767px){
					flex-direction: column;
					row-gap: 24px;
					margin-top: 24px;
				}
				.btn{
					line-height: 24px;
				}
			}
		}
	}
	.file-error{
		position: absolute;
		width: 281px;
		border: 1px solid var(--red);
		border-radius: 10px;
		background-color: rgba(256, 0, 0, 0.1);
		padding: 16px;
		top: 0;
		right: 30px;
		display: none;
		transition: all 0.3s;
		.name{
			word-break: break-all;
		}
		.error-text{
			margin-top: 8px;
			color: var(--red);
		}
	}
}

.calculator{
	margin-top: 80px;
	background-color: var(--gray);
	padding: 80px 0;
	.grid{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;
			@media only screen and (max-width : 1100px){
				column-gap: 16px;
				grid-template-columns: 330px auto;
			}
			@media only screen and (max-width : 767px){
				grid-template-columns: 1fr;
				row-gap: 32px;
			}
	}
}

.calc-form{
	.form-inner{
		.form-field, .select-field{
			.caption{
				display: none;
				font-size: 12px;
				line-height: 150%;
				margin-bottom: 4px;
			}
		}
		.select-field{
			margin-bottom: 16px;
		}
		.result-block{
			margin-top: 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 13.5px 16px;
			background-color: var(--black);
			color: #ffffff;
			.caption{
				font-size: 14px;
				line-height: 150%;
				color: var(--gray2);
			}
			.val{
				font-size: 30px;
				line-height: 150%;
				font-weight: 600;
			}
		}
		.text{
			display: grid;
			grid-template-columns: 8px auto;
			column-gap: 8px;
			margin-top: 16px;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

/*-----------------footer---------------*/

footer{
	background: var(--black); 
	color: #ffffff;
	position: relative;
	margin-top: 80px;
	@media only screen and (max-width : 1100px){
		margin-top: 64px;
	}
	@media only screen and (max-width : 767px){
		margin-top: 42px;
		padding: 24px 0;
	}
	a{
		color: #ffffff;
	}
	.grid{
		grid-template-columns: auto 16.7% 16.7%;
		column-gap: 40px;
		@media only screen and (max-width : 767px){
			grid-template-columns: 1fr;
			row-gap: 24px;
		}
	}
	.contacts-block{
		padding: 48px 0;
		@media only screen and (max-width : 767px){
			order: 3;
			padding: 0;
		}
		.contacts-list{
			.item{
				display: grid;
				grid-template-columns: 24px auto;
				column-gap: 16px;
				margin-bottom: 16px;
				color: rgba(255, 255, 255, 0.6);
				font-size: 16px;
				line-height: 150%;
				max-width: 373px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					color: rgba(255, 255, 255, 0.6);
					border: none;
					&:hover{
						color: #ffffff;
					}
				}
			}
		}
		.copyright-text{
			margin-top: 35px;
			color: rgba(255, 255, 255, 0.6);
			.flex{
				align-items: center;
				column-gap: 24px;
			}
			a{
				color: rgba(255, 255, 255, 0.6);
				border: none;
				&:hover{
					color: #ffffff;
				}
			}
		}
	}
	.menu{
		padding: 48px 0;
		@media only screen and (max-width : 767px){
			padding: 0;
			order: 2;
		}
		ul{
			font-size: 16px;
			line-height: 150%;
			li{
				margin-bottom: 16px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					&:hover{
						border-bottom-color: #ffffff;
					}
				}
			}
		}
	}
	.logo{
		a{
			border: none;
		}
		@media only screen and (max-width : 767px){
			order: 1;
		}
		img{
			@media only screen and (max-width : 767px){
				height: 150px;
			}
		}
	}
}

/*-----------------forms---------------*/

.popupblock{
	display: none;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	.close{
		width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
		transition: all 0.3s;
		&:hover{
			transform: rotate(180deg);
		}
	}
	.inner{
		background: #FCFCFC;
		max-width: 400px;
		width: 100%;
    border-radius: 0px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	}
	&.popupthanx{
		.inner{
			max-width: 477px;
			width: 100%;
		}
		.text-block{
			.text{
				margin-top: 24px;
				font-size: 16px;
				line-height: 130%;
			}
		}
	}
}

.popupmenu{
	display: none;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	.inner{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #ffffff;
		width: 100%;
		padding: 50px 30px 30px;
		@media only screen and (max-width : 767px){
			height: 100%;
			padding: 50px 16px;
		}
		.close{
			width: 24px;
			height: 24px;
			position: absolute;
			top: 16px;
			right: 16px;
			cursor: pointer;
			transition: all 0.3s;
			&:hover{
				transform: rotate(180deg);
			}
		}
		.menu{
			ul{
				li{
					margin-bottom: 16px;
					font-size: 20px;
					line-height: 130%;
					@media only screen and (max-width : 767px){
						font-size: 16px;
					}
					&:last-child{
						margin-bottom: 0;
					}
					a{
						font-weight: 600;
					}
				}
			}
		}
	}
}

.cookies{
	position: fixed;
	bottom: 16px;
	right: 16px;
	background-color: #ffffff;
	max-width: 570px;
	width: 100%;
	border: 1px solid var(--black);
	padding: 30px;
	.close{
		position: absolute;
		top: 16px;
		right: 16px;
		cursor: pointer;
		transition: all 0.3s;
		height: 16px;
		&:hover{
			transform: rotate(180deg);
		}
	}
	.text-block{
		.text{
			margin-top: 18px;
			font-size: 15px;
			line-height: 130%;
		}
		.btn-block{
			margin-top: 20px;
			.btn{
				line-height: 24px;
			}
		}
	}
}