# SSH Deploy Keys
deploy_key
deploy_key.pub

# IDE
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build
dist/
build/

cdekdelivery.4.2.5.zip
cdekdelivery.4.2.5/**
cdekdelivery.4.2.5/

woocommerce.10.5.2.zip
woocommerce.10.5.2/**
woocommerce.10.5.2/

tbank-woocommerce (1).zip
tbank-woocommerce/**
tbank-woocommerce/