<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/app.min.css">
	<style>
		.pages-list{
			margin-top: 50px;
		}
		.pages-list h1{
			text-align: center;
		}
		.pages-list ul{
			display: block;
			margin: 20px auto 0;
			text-align: center;
		}
		.pages-list ul li{
			margin-bottom: 10px;
		}
		.pages-list ul a{
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class="pages-list">
		<div class="container">
			<h1>Список страниц:</h1>
			<ul>
				<li><a href="main.html">Главная</a></li>
				<li><a href="production.html">Производство</a></li>
				<li><a href="catalog.html">Интернет-магазин</a></li>
				<li><a href="forms.html">Авторизация, регистрация, восстановление</a></li>
				<li><a href="product-page.html">Деталка товара</a></li>
				<li><a href="contacts.html">Контакты</a></li>
				<li><a href="cart.html">Корзина</a></li>
			</ul>
		</div>
	</div>
	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>