<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	@@include('../html/header.html')
	<main class="inner-page production-page">
		<section class="top-block">
			<div class="container">
				<div class="top-block-inner grid">
					<div class="text-block">
						<div class="title"><h1>Производство электроники</h1></div>
						<div class="list">
							<ul>
								<li>Изготовление печатных плат от 3 до 5 класса точности;</li>
								<li>Возможность срочного изготовления;</li>
								<li>Собственное производство;</li>
								<li>Поверхностный (SMT/SMD) и выводной (THT) монтаж <br>электронных компонентов от одной платы<br> до крупной серии</li>
							</ul>
						</div>
					</div>
					<div class="img"><img src="img/dest/production-top-img.png" alt=""></div>
				</div>
			</div>
		</section>
		<section class="calculator">
			<div class="container">
				<div class="grid">
					<div class="title">
						<h3>Для предварительного расчета воспользуйтесь калькулятором</h3>
					</div>
					<div class="form-block calc-form">
						<form action="/" method="post">
							<div class="form-inner">
								<div class="form-field">
									<div class="caption">Количество точек пайки поверхностного монтажа (SMD)</div>
									<input type="number" class="indot" placeholder="Количество точек пайки поверхностного монтажа (SMD)">
								</div>
								<div class="form-field">
									<div class="caption">Количество точек пайки выводного монтажа (ТНТ)</div>
									<input type="number" class="outdot" placeholder="Количество точек пайки выводного монтажа (ТНТ)">
								</div>
								<div class="select-field">
									<div class="caption">Наличие трафарета</div>
									<div class="select">
										<div class="current">Наличие трафарета</div>
										<div class="list">
											<a href="#" class="option trafaret" data-valIn="10" data-valOut="12">С трафаретом</a>
											<a href="#" class="option trafaret" data-valIn="5" data-valOut="7">Без трафарета</a>
										</div>
									</div>
									<input type="hidden" name="trafaret-sum">
								</div>
								<div class="select-field">
									<div class="caption">Электронные компоненты</div>
									<div class="select">
										<div class="current">Электронные компоненты</div>
										<div class="list">
											<a href="#" class="option component1 components" data-percent="20">Заказчика</a>
											<a href="#" class="option component2 components" data-overprice="5" data-wash="100" data-percent="30">Исполнителя</a>
										</div>
									</div>
									<input type="hidden" name="components-sum">
								</div>
								<div class="select-field">
									<div class="caption">Количество плат для монтажа</div>
									<div class="select">
										<div class="current">Количество плат для монтажа</div>
										<div class="list">
											<a href="#" class="option quantity" data-val="2">1..9</a>
											<a href="#" class="option quantity" data-val="1.5">10..49</a>
											<a href="#" class="option quantity" data-val="1.25">50..99</a>
											<a href="#" class="option quantity" data-val="1">100..</a>
										</div>
									</div>
									<input type="hidden" name="quantity-sum">
								</div>
								<div class="result-block">
									<div class="caption">Стоимость мотажа одной платы</div>
									<div class="val"><span>0</span> ₽</div>
								</div>
								<div class="text"><span>*</span>Расчет является предварительным и не является Договором публичной оферты. Окончательную цену мы можем сказать после получения документации на изделие и обработки нашими специалистами</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="contacts-form">
			<div class="container">
				<div class="grid">
					<div class="title">
						<h3>Для получения окончательной цены свяжитесь с нами и приложите документацию</h3>
					</div>
					@@include('../html/contacts-form.html')
				</div>
			</div>
			<div class="file-error">
				<div class="name">Реквизиты_ИП_Иванов_Иван_Иванович.docx </div>
				<div class="error-text">Файл слишком большой</div>
			</div>
		</section>
	</main>
	@@include('../html/footer.html')
	@@include('../html/thanx-popup.html')
	@@include('../html/burger-menu.html')
	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>