<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body>
	@@include('../html/header.html')
	<main class="inner-page projects-page">
		<section class="projects developing">
			<div class="container">
				<div class="title">
					<h1>Наши проекты</h1>
				</div>
				<div class="develop-block">
					<div class="text">Страница находится<br> в разработке</div>
				</div>
			</div>
		</section>
		<section class="contacts-form">
			<div class="container">
				<div class="grid">
					<div class="title">
						<h3>Свяжитесь с нами</h3>
					</div>
					@@include('../html/contacts-form.html')
				</div>
			</div>
			<div class="file-error">
				<div class="name">Реквизиты_ИП_Иванов_Иван_Иванович.docx </div>
				<div class="error-text">Файл слишком большой</div>
			</div>
		</section>
	</main>
	@@include('../html/footer.html')
	@@include('../html/thanx-popup.html')
	@@include('../html/burger-menu.html')
	@@include('../html/request-popup.html')
	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>